*{
    padding: 0;
    margin: 0;
}
@import url(https://db.onlinewebfonts.com/c/c017c9efb81f32559dee68fa54edbde4?family=Reklame+Script+W00+Medium);
@font-face {
    font-family: "Reklame Script W00 Medium";
    src: url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.eot");
    src: url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/c017c9efb81f32559dee68fa54edbde4.svg#Reklame Script W00 Medium")format("svg");
}

h1, h2, h3, h4{
    font-family: "Reklame Script W00 Medium";
}


